@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu',sans-serif;
    scroll-behavior: smooth;
    
  }
 header{
   height: 60px;
   width: 100%;
   background-color: rgb(64, 12, 112);
   display: flex;
   justify-content: right;
  
 }
 .btn{
   margin-top: 10px;
   margin-right: 10px;
 }
 h1{
   text-align: center;
   font-weight: 900;
   font-size: 3.0rem;
 }
 p{
   text-align: center;
  
 }
 section{
     margin-top: 120px;

     display: flex;
     flex-direction: column;
     align-items: center;

 }
 .arrow{
     color:rgb(64, 12, 112) ;
 }
 .leaf{
     color: green;
 }
 .fixing{
     color: rgb(219, 189, 19);
 }
 .mining{
     height: auto;
     border-radius: 10px;
     max-width: 80%;
    
 }
 .icons{
     display: flex;
     flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
     margin-top: 50px;
 }
footer{
    margin-top: 120px;
    height: 200px;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.897);
}
.contact{
    color: white;
    font-size: 30px;
}
.links{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 30px;
  
}
a{
    text-decoration: none;
    color: white;
}




 strong{
   color: rgb(64, 12, 112);
 }
@media only screen and (max-width:900px) {
*{
  width: 100%;
}

header{
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
}
.btn{
  margin-left: 10px;
  margin-bottom: 10px;
  width: 30%;
}
.dropdown-menu{
  width: 90%;
}
  
}